

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to ="0" class ="active"></li>
		<li data-target="#slides" data-slide-to ="1"></li>
		<li data-target="#slides" data-slide-to ="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
		    <%= image_tag("background.png", :id => "icon" ,class:"carousel-image")%>
			<div class="carousel-caption">
				<h3 class="display-2">鹿児島大学<br>新歓まとめサイト</h3>
				<h5> 2020年の新歓まとめサイトです</h5>
				<a class="btn btn-success btn-lg" href = "/memos/index" role="button" >１年生はこちら</a>
				<a class="btn btn-primary btn-lg" href = "/new" role="button">サークルの方はこちら</a>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag("background2.png", :id => "icon",class:"carousel-image")%>
			<div class="carousel-caption">
				<h3 class="display-2">鹿児島大学<br>新歓まとめサイト</h3>
				<h5> 2020年の新歓まとめサイトです</h5>
				<a class="btn btn-success btn-lg" href = "/memos/index" role="button" >１年生はこちら</a>
				<a class="btn btn-primary btn-lg" href = "/new" role="button">サークルの方はこちら</a>

			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag("background3.png", :id => "icon",class:"carousel-image")%>
			<div class="carousel-caption">
				<h3 class="display-2">鹿児島大学<br>新歓まとめサイト</h3>
				<h5> 2020年の新歓まとめサイトです</h5>
				<a class="btn btn-success btn-lg" href = "/memos/index" role="button" >１年生はこちら</a>
				<a class="btn btn-primary btn-lg" href = "/new" role="button">サークルの方はこちら</a>
			</div>
		</div>
	</div>
</div>

<!--- Welcome Section -->
<div class="padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h2 class="display-4">新入生の方</h2>
			<hr>
			<div class="col-12">
				<ul>
					<p class="lead"><li>基本的に会員登録なしで新歓情報が見れます</li></p>
					<p class="lead"><li>新歓情報を見て当日集合場所に行ってください</li></p>
					<p class="lead"><li>サークル名をクリックするとサークル詳細を見ることができます</li></p>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h2 class="display-4">サークルの方</h2>
			<hr>
			<div class="col-12">
				<ul>
					<p class="lead"><li>新歓情報の追加は会員登録が必須です</li></p>
					<p class="lead"><li>マイページを持つことができます。サークル情報を入力し、マイページのリンクをSNSなどに貼ってご利用ください</li></p>
				</ul>
			</div>
		</div>
	</div>
</div>

<br>
<div class="youtube2">
	<iframe width=100% height=auto src="https://www.youtube.com/embed/cP64kJ12xE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
  <!--- Connect -->
<div class="padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
			<div class="col-12 social padding">
				<a href="https://twitter.com/make_one2019"><i class="fab fa-twitter"></i></a>
				<a href="https://mail.google.com/mail/?view=cm&to=hoge_toyouth.tube.kagoshima@gmail.com"><i class="fab fa-google-plus-g"></i></a>
				<a href="https://www.instagram.com/make_one_01/"><i class="fab fa-instagram"></i></a>
				<a href="https://www.youtube.com/channel/UCvKqqRkT_14HudyVbCDRfgQ"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</div>
</div>
